.subtitle{
  font-family: 'Sanchez', serif;
  text-align: center;
  padding-top: 1rem;
  padding-bottom:2.5rem;
}

.content{
  padding-top: 2.5rem;
  background-color:rgb(232, 190, 144) ;
}

.artists{
    padding-top:2.5rem;
    padding-right: 4rem;
    

}

.pieces{
    padding-top:2.5rem;

}